<odoo>
    <!-- Define the action for the patient view -->
    <record id="action_hospital_patient" model="ir.actions.act_window">
        <field name="name">Patient</field>
        <field name="res_model">hospital.patient</field>
        <field name="view_mode">tree,form,kanban</field>
        <field name="target">current</field>
    </record>
    <record id="action_hospital_doctor" model="ir.actions.act_window">
        <field name="name">Doctor</field>
        <field name="res_model">hospital.doctor</field>
        <field name="view_mode">tree,form,kanban</field>
        <field name="target">current</field>
    </record>
    <!-- Define the menus -->
    <menuitem id="menu_hospital_root" name="HMS"/>
    <menuitem id="menu_front" name="Management" parent="menu_hospital_root"/>
    <menuitem id="menu_patient" name="Patient" parent="menu_front" action="action_hospital_patient"/>
    <menuitem id="menu_doctor" name="Doctor" parent="menu_front" action="action_hospital_doctor"/>
</odoo>
